{% extends "components/_base.html" %} {% load static %} {% block title %} О нас
{% endblock title %} {% block content %}
<div class="flex vertical gap-4 center px-16 py-8">
  <div class="flex vertical center">
    <p class="fs-4 bolder color-accent">О НАС</p>
  </div>
  <p class="fs-2 bold text-center">
    Основное направление нашей работы — доставка из Китая.
  </p>
  <p class="fs-1-half">
    SUPERDOSTAVKA специализируется на грузоперевозках из Китая в Россию. Для
    этой цели у нас имеется автоколонна автомобилей. Наша компания
    укомплектована современными автомашинами. Автомобили безусловно лучших
    мировых марок. Вы можете заказать у нас доставку грузов самого разного
    назначения. Мы возим, вероятно, все возможные грузы. От традиционных ТНП до
    негабаритной продукции. Возим в любую точку России. Оказываем полный спектр
    услуг. По доставке, складированию и обработке. А также сопровождению и
    охране грузов.
  </p>

  <p class="fs-2 bold text-center">Советы нашим начинающим бизнес-партнёрам</p>
  <p class="fs-1-half">
    Если рассмотреть внимательно целевую аудиторию покупателей обуви, то
    несложно определиться с ассортиментом и ценовой категорией. Россияне
    покупают чаще всего обувь средней и низкой категории. Даже, если это не
    всегда сходится со здравым смыслом. Причём мужская обувь чаще востребована
    покрепче и подолговечнее. В то же время, женщины предпочитают иметь больше
    пар, модных и красивых. Причём, женщины количество обуви предпочитают
    качеству. Мода, безусловно, поменяется быстрее, чем сносится недолговечная
    женская обувь. Никогда не выходят из моды классические модели. Иметь их в
    ассортименте должен каждый порядочный магазин. Так же это касается
    спортивной обуви. В последнее время, благодаря своему удобству, она занимает
    значительное место на обувной полке россиян. У очень многих она выполняет
    роль повседневной. Как летом, так и зимой.
  </p>
  <p class="fs-1-half">
    Немаловажный аспект в успешной торговле — знание сезонности и пиков продаж.
    Пик продаж демисезонной обуви — март-апрель, в то время как зимнюю обувь
    охотнее берут в октябре-ноябре. Если знать эти моменты, можно избежать
    залежей не сезонного товара. Но, к сожалению от этого трудно застраховаться.
    Многие покупатели сознательно ждут окончания сезона, когда начнутся акции и
    скидки, чтобы купить обувь покачественнее, за те же деньги. Очень важный
    аспект торговли обувью — надёжные поставщики. Ведь любой покупатель не
    вернётся в магазин, если один раз он там взял некачественную пару. Причём, о
    некачественной покупке он расскажет 10 знакомым, а о качественно только
    трём. Это статистика. Поэтому репутация магазина — очень важное дело. И за
    неё надо бороться.
  </p>

  <p class="fs-2 bold text-center">Задачи SUPERDOSTAVKA</p>
  <p class="fs-1-half">
    Наша задача защитить Ваш груз. Безусловно, обеспечить безопасность. Как
    транспортировки так и сохранности. SUPERDOSTAVKA имеет филиалы, как в Китае,
    так и в России. Это упрощает процесс перевозок, а также облегчает таможенное
    оформление. Кроме того, ускоряет доставку сборных грузов. Наша складская
    служба, кроме того, дополнительно упаковывает крупный товар. В том числе
    оборудование.
  </p>

  <p class="fs-1-half">
    Специалисты SUPERDOSTAVKA действуют безусловно на основании Таможенного
    законодательства. Сотрудники наших складов примут Ваш груз, а также проведут
    все логистические процедуры. Быстро и профессионально упакуют, а также
    отправят сборные грузы. Быстро, ответственно а также качественно. А наши
    перевозчики безусловно доставят Ваш груз. Разумеется в целости и полной
    сохранности!
  </p>

  <p class="fs-1-half">
    Кроме того, вы можете позвонить по указанным телефонам. Чтобы прояснить
    интересующий Вас вопрос у наших менеджеров. Они проконсультируют Вас по
    вопросам доставка грузов из Китая. А также разъяснят неясные моменты.
    Касающиеся перевозок, сборных грузов, а также сертификации и прочего.
  </p>
</div>
{% endblock content %}
